.body-leasing-wrapper{
	padding:70px 0 80px 0;
}
.body-leasing-wrapper h1{
	margin:0 0 0 0;
	text-align:center;
	color: #182939;
	font-family: Roboto;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 500;
}
.body-leasing-wrapper h1 span{
	font-weight: 300;	
}
.leasing-img-group{
	margin-top:70px;
}
.leasing-img-group > div{
	float:left;
	width:50%;
	position:relative;
	padding-bottom:8px;
}
.leasing-img-group > div:first-child{
	border-right:1px solid #b0bbc5;
}
.leasing-img-group h3{
	color: #415c76;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.leasing-img-group i{
	display:block;
	height:118px;
}
.leasing-img-group-left i{
	background: url(../img/body-leasing.jpg) no-repeat 89% 0;
}
.leasing-img-group-right i{
	background: url(../img/team-leasing.jpg) no-repeat 18px 0;
}
.leasing-img-group-left{
	padding-right:79px;
}
.leasing-img-group-left h3{
	text-align:right;
    margin:35px 0 0 0;
}
.leasing-img-group-right{
	padding-left:75px;
}
.leasing-img-group-right h3{
	text-align:left;
    margin:35px 0 0 15px;
}
.body-leasing-content-top > p{
	color: #415c76;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	text-align:center;
	width:90%;
	margin:45px auto 0 auto;
}

.body-leasing-how{
	width:90%;
	margin:0 auto;
	margin-top:80px;
}
.how-it-works-block{
	margin-top:60px;
	margin: 0 auto;
	padding-bottom:55px;
    width: 91%;
    border-bottom:1px solid #eef2f4;
}
.how-it-works-block > div{
	float:left;
}
.how-it-works-block-left-right{
	width:260px;
	position:relative;
}
.how-it-works-block-left-right-block:first-child{
	margin-top:0;
}
.how-it-works-block-left-right-block{
	margin-top:75px;
}
.how-it-works-block-left-right-block h3{
    margin: 32px 0 0 0px;
    font-size: 29px;
    text-align: center;
	text-align:center;
    color: #ff7d01;
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
}
.how-it-works-block-left-right-block p{
    font-size: 18px;
    margin: 15px 0 0 0px;
    color: #415c76;
    font-family: Roboto;
    line-height: 21px;
    text-align: center;
}
.how-circle{
	width:100%;
	text-align:center;
}
.how-it-works-center-block{
	width:410px;
	position:relative;
	height:100%;
}
.how-it-works-center-block > div{
	width:100%;
}
.how-it-works-center-block-top{
	height:80px;
	margin-top:67px;
	background:url(../img/how1.png) no-repeat 0 0;
}
.how-it-works-center-block-bottom{
	height:86px;
	position:absolute;
	top: 490px;
    left: 4px;
	background:url(../img/how3.png) no-repeat 0 0;
}
.right-after-img::after{
	height:475px;
	width: 150px;
	content:'';
	display:inline-block;
	position:absolute;
	right:-150px;
	top:60px;
	background:url(../img/how2.png) no-repeat 0 0;
}

.how-it-works-center-block-center{
	text-align:center;
	margin-top:65px;
}
.how-it-works-center-block-center h3{
	margin:0 0 0 0;
    font-size: 31px;
    font-weight: bold;
    font-family: Roboto;
    text-transform: uppercase;
    color:#1e3040;

}
.how-it-works-center-block-center h3::before{
	content:'';
	display:block;
	border-top:1px solid #718598;
	border-bottom:1px solid #cfd6dd;
	width:240px;
	margin:0 auto;
	margin-bottom:5px;
}
.how-it-works-center-block-center h3::after{
	content:'';
	display:block;
	border-top:1px solid #718598;
	border-bottom:1px solid #cfd6dd;
	width:240px;
	margin:0 auto;
	margin-top:5px;
}
.how-it-works-center-block-center ol{
	margin:20px 0 0 0;
	padding:0 0 0 0;
	font-size:16px;
	font-weight:bold;
	color:#162939;
	list-style-position:inside;
	text-align:left;
}
.how-it-works-center-block-center ol li:first-child{
	margin-top:0;
}
.how-it-works-center-block-center ol li{
	margin-top:10px;
}
.rest-text{
	padding-left:36px !important;
}
.how-it-works-center-block-center ol span{
	padding-left:18px;
	display:inline-block;
}
.how-it-works-center-block .how-it-works-center-block-center{
	width:240px;
	margin-left: auto;
	margin-right:auto;
}

.how-bottom-part-top{
	padding-top:57px;
	border-top:1px solid #ced7dd;
}
.how-bottom-part-top > div h3:first-child{
	margin-top:0;
}
.how-bottom-part-top > div:first-child{
	margin-left:0;
}
.how-bottom-part-top > div{
	position:relative;
	padding-left:70px;
	margin-left:3%;
}
.how-bottom-part-top .col-sm-4{
	width:31.333%;
}
.how-bottom-part-top h3{
	color:#162939;
	font-size:22px;
	font-family:Roboto;
	margin:15px 0 0 0;
	text-transform: uppercase;
}
.how-bottom-part-top p{
    color:#a0adba;
   	font-family:Roboto;
   	margin:5px 0 0 0;
   	width:100%;
}
.how-bottom-part-top > div:nth-child(1)::before{
	content:'1';
}
.how-bottom-part-top > div:nth-child(2)::before{
	content:'2';
}
.how-bottom-part-top > div:nth-child(3)::before{
	content:'3';
}
.how-bottom-part-top > div::before{
	display:block;
	width:48px;
	height:44px;
	padding-top:6px;
	text-align:center;
	background-color:#ff7d00;
	border-radius:50%;
	color:#fff;
	font-size:22px;
	font-family:Roboto;
	position:absolute;
	top:0;
	left:0;
}

.tech-we-use{
	padding-top:57px;
}
.platforms{
	margin-top:60px;
}
.platforms[data-columns]::before{
	content:'6 .column.size1of6';
}
.size1of6{
	width:calc(100%/6);
}
.platforms .column{
	float:left;
}
.img-platform{
	text-align:center;
	height:96px;
}
.img-platform img{
	width:96px;
	height:96px;

}
.react img{
	height:auto;
	margin-top:10px;
}
.oracle img{
	height: auto;
    margin-top: 21px;
}
.platform p{
	color: #607080;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align:center;
	margin:25px 0 0 0;
}

.body-leasing-consultation h2{
	display:inline-block;
}
.body-leasing-consultation a{
	display: inline-block;
    padding: 17px 46px 15px 41px;
    margin-left:30px;
    border: 3px solid #fff;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s all;
}
.body-leasing-consultation a:hover{
	background: #fff;
	color:#ff7e00;
}

.companies-wrapper a{
    height: 92px;
    display: inline-block;
    margin-left: 1%;
    width: calc(100% /8);
    display: inline-block;
    margin-left: 1.4%;
}
.companies-content h2{
	margin-bottom:60px;
}
.companies-wrapper{
	padding:76px 0;
}
.col-sm-4 .top-offset{
	margin-top:35px;
}
.leasing-img-group::after,.how-it-works-block::after,.how-bottom-part-top::after,.platforms::after,.companies::after{
	content:'';
	display:block;
	clear:both;
}