.cases-content{
	padding:176px 0 81px 0;
}
.cases-blocks{
	margin-top:37px;
}
.cases-blocks .column > div {
    margin-top: 38px;
}
.case-block:first-child{
	margin-left:0;
}
.cases-block-row{
	width:calc(364px * 3 + 6%);
	margin:0 auto;
}
.case-block{
	height:307px;
	width:364px;
	margin-left:3%;
	position:relative;
	cursor:pointer;
	float:left;
	margin-top:38px;
}
.case-block p{
	background-color: #172939;
	padding:25px 0 23px 0;
	text-align:center;
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	position:relative;
	top:119px;
	max-height:73px;
	height:73px;
}
.case-block-clicked p{
	background-color:#ff7e00 !important;
}
.case-block-back{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: #556d84;
	opacity:0.76;
	display:none;
}
.case-block-clicked::after{
	content:'';
	position:absolute;
	bottom:0;
	left:calc(50% - 25px);
	border-left:25px solid transparent;
	border-right:25px solid transparent;	
	border-bottom:25px solid #d9dee3;

}
.case-block2 p{
    padding-top:15px;
}
.case-block p span{
	vertical-align:0%;
}
.case-block:nth-child(1){
	background: url(../img/case-img1.png) no-repeat 0 0;
}
.case-block:nth-child(2){
	background: url(../img/case-img2.png) no-repeat 0 0;
}
.case-block:nth-child(3){
	background: url(../img/case-img3.png) no-repeat 0 0;
}
.case-block-tab{
	position:relative;
	top:-2px;
	display:none;
}
.cases-block-row{
	width:calc(364px * 3 + 70px);
	margin:0 auto;
}
.case-block-tab-wrapper{
    background: #d9dee3;
    position:relative;
    top:-1px;
    padding-bottom:124px;
    display:none;
    min-width: 1170px;
}
.case-block-tab-visible {
	display:block;
}
.case-block-tab-content{
	width:calc(364px * 3 + 70px);
	margin:0 auto;
}
.case-block-tab-top{
	padding-top:70px;
}
.case-block-tab-top > div{
	width:50%;
	float:left;
}
.case-block-tab-top-block-left{
	margin-top:60px;
}
.case-block-tab-top-block-left h2{
	color: #fe7e00;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 400;
	width:350px;
	margin:15px 0 26px 0;
}
.case-block-tab-top-block-left p{
	margin:13px 0 0 0;
	color: #182939;
	font-family: Roboto;
	font-size: 18px;
	line-height:23px;
	font-weight: 400;
	width:80%;
}
.case-tab-problem{
	margin-top:60px;
}
.case-tab-h{
	color: #182939;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	text-align:center;
	position:relative;
	background: url(../img/h-bg.png) no-repeat 0 50%;
	background-size:contain;
}
.case-tab-p{
	text-align:center;
	width:87%;
	margin:35px auto 0 auto;
	color: #5b6874;
	font-family: Roboto;
	font-size: 28px;
	font-weight: 300;
	line-height:32px;
}
.case-tab-p-bold{
	color: #182939;
	font-family: Roboto;
	font-size: 28px;
	font-weight: 700;	
	width:88%;
	margin:35px auto 0 auto;
	text-align:center;
}
.case-tab-solution{
	margin:70px 0 0 0;
}
.case-tab-sol-punkt{
	margin:50px 0 0 0;
}
.case-tab-sol-punkt-top-circle{
	border-radius:50%;
	width: 139px;
	height: 139px;
	background-color: white;
	border: 6px solid #96a5b2;
	text-align:center;
	margin:0 auto;
}
.case-tab-sol-punkt-top-circle span{
	display:inline-block;
	position:relative;
	top:31px;
	color: #96a5b2;
	font-family: Roboto;
	font-size: 50px;
	font-weight: 700;
}
.case-tab-sol-punkt-label{
	text-align:center;
	width:85%;
	margin:0 auto;
}
.case-tab-sol-punkt-label h3{
	color: #ff7e00;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	margin:40px 0 0 0;
}
.case-tab-sol-punkt-label p{
	color: #182939;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	margin:15px 0 0 0;
}
.case-bot-sign{
	width: 479px;
	height: 76px;
	margin:0 auto;
	background: url(../img/case-tab-bot-sign.png) no-repeat 0 0;
	margin-top:56px;
}
.case-tab-result{
	margin:60px 0 0 0;
}

.case-block-tab-top-block img{
	max-width:555px;
	height:auto;
}


.cases-block-row::after,.case-block-tab-top::after,.case-tab-sol-punkt:after{
	content:'';
	display:block;
	clear:both;
}