.consulting-back{
	background: url(../img/consulting-back.jpg) no-repeat 50% 100px;
	padding-top:100px;
	padding-bottom:124px;
}
.consulting-header{
	width:80%;
	margin:0 auto;
}
.consulting-back .header{
	padding-top:150px;
}
.consulting-header h1{
	color: white;
	font-family: Roboto;
	font-size: 72px;
	font-weight: 500;
	margin:0 0 0 0;
	text-align:center;
}
.consulting-header h3{
	color: white;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
    width: 82%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin-top:60px;
}
.consulting-header .consulting-header-btn{
	margin-top:75px;
}
.consulting-services-wrapper{
	padding:75px 0 0 0;
}
.consulting-services-content{
	padding:75px 0 0 0;
}
.consulting-services-content-block{
	padding-top:138px;
	text-align:center;
}
.consulting-services-content-block h3{
	color: #415c76;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin:25px 0 0 0;
}

.consulting-services-content[data-columns]::before {
	content: '4 .column.size-1of4';
}
.consulting-services-content .size-1of4:first-child{
	padding-left:0;
}
.consulting-services-content .size-1of4{
	width:25%;
	padding-left:5%;
}
.consulting-services-content-block1{
	background: url(../img/cons-serv1.png) no-repeat 50% 0;
}
.consulting-services-content-block2{
	background: url(../img/cons-serv2.png) no-repeat 50% 0;
}
.consulting-services-content-block3{
	background: url(../img/cons-serv3.png) no-repeat 50% 0;
}
.consulting-services-content-block4{
	background: url(../img/cons-serv4.png) no-repeat 50% 0;
}
.consulting-services-content-block5{
	background: url(../img/cons-serv5.png) no-repeat 50% 0;
}
.consulting-services-content-block6{
	background: url(../img/cons-serv6.png) no-repeat 50% 0;
}
.consulting-services-content-block7{
	background: url(../img/cons-serv7.png) no-repeat 50% 0;
}
.consulting-services-content-block8{
	background: url(../img/cons-serv8.png) no-repeat 50% 0;
}
.consulting-services-content-block9{
	background: url(../img/cons-serv9.png) no-repeat 50% 0;
	background-size:144px 143px;
}
.consulting-services-content-block10{
	background: url(../img/cons-serv10.png) no-repeat 50% 0;
	background-size:144px 143px;
}
.consulting-services-content-block11{
	background: url(../img/cons-serv11.png) no-repeat 50% 0;
	background-size:144px 143px;
}
.consulting-services-content-block12{
	background: url(../img/cons-serv12.png) no-repeat 50% 0;
	background-size:144px 143px;
}
.consulting-services-content-block{
	min-height:241px;
}
.consulting-services{
	padding:0 0 80px 0;
}

.industries-wrapper{
	padding:80px 0 100px 0;
}
.industries-wrapper h2{
	margin-bottom:60px;
}
.industries{
	height:607px;
	background: url(../img/industry.png) no-repeat 50% 50%;
	background-size:contain;
}
.industries{
	padding-top:60px;
}

.cons-projects .project-slide-right-part{
    margin-top:20px !important;
}

.consulting-services-content::after{
	content:'';
	display:block;
	clear:both;
}