.wrapper .mobile-back{
	background: url(../img/mob-bg.jpg) no-repeat 50% 0px;
}
.mobile-header{
	padding-top:160px;
}
.mobile-header h1{
	color: white;
	font-family: Roboto;
	font-size: 80px;
	font-weight: 400;
	line-height: 85px;
	margin:0 0 0 0;
}
.mobile-header h5{
	color: white;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 400;
	width:90%;
	margin:23px 0 0 0;
}
.mobile-header > div{
	float:left;
	width:50%;
}
.mobile-header-left{
	text-align:left;
	padding-left:40px;
}
.mobile-header-left a{
	display: inline-block;
    padding: 17px 46px 15px 41px;
    border: 3px solid #ff7e00;
    color: #ff7e00;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s all;
    margin-top:70px;
}
.mobile-header-left a:hover{
	color:#fff;
	border-color:#fff;
}
.mobile-header-right{
	padding-top:10px;
}
.mobile-header-right img{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 400px;
}

.mobile-project-wrapper{
	background:#6ce2d6 url(../img/mobile-proj.png) no-repeat 0 0;
    background-size: 80% 100%;
	padding:0 0 90px 0;
	min-width:1170px;
}
.mobile-project > div{
    float:right;
    width:50%;
}
.mobile-project-info{
	text-align:right;
}
.last-mob-proj{
	color: #182939;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
	margin:0 0 0 0;
}
.mob-proj-name{
	color: #182939;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin:60px 0 0 0;
}
.mobile-project-info p{
	color: #182939;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	margin:25px 0 0 0;
	width: 335px;
	float:right;	
}
.mob-proj-descr{
	color: #182939;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	margin:25px 0 0 0;
	width: 335px;
	float:right;
}
.mobile-project-info a{
	display: inline-block;
    padding: 15px 33px 13px 34px;
    border: 3px solid #182939;
	color: #182939;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
    transition: .3s all;
    clear: both;
    float: right;
    margin:33px 0 0 0;
}
.mobile-project-info a:hover{
	color:#fff;
	border-color:#fff;
}
.mobile-project{
	padding:80px 0 0 0;
}
.what-we-do-wrapper{
	padding:80px 0;
}
.platform-img{
	width:446px;
	height:189px;
	position:relative;
	text-align:center;
	margin:0 auto;
	position:relative;
}
.platform-img.andr{
	background: url(../img/android.png) no-repeat 0 0;
}
.platform-img.ios{
	background: url(../img/ios.png) no-repeat 0 0;
}
.what-platform .transform-none{
	text-transform:none;
}
/*.platform-img::before{
	content:'';
	display:block;
	position:absolute;
	top:50%;
	left:0;
	width:130px;
	height:2px;
	background:#a9b5c0;
	left:-130px;
}
.platform-img::after{
	content:'';
	display:block;
	position:absolute;
	top:50%;
	right:0;
	width:130px;
	right:-130px;
	height:2px;
	background:#a9b5c0;
}*/
.what-platforms[data-columns]::before{
	content:'2 .column.size1of2';
}
.what-platforms .size1of2{
	width:50%;
}
.what-platforms .column{
	float:left;
}
.what-platform{
	text-align:center;
	padding-top:75px;
	padding: 0 6%;
}
.what-platform h3{
	color: #607080;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	margin:25px 0 0 0;
}
.what-platform p{
	color: #415c76;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	margin:25px 0 0 0;
}
.project-slide .mobile-project-slide-left-part{
	padding-top:0;
}
.projects-slider{
	margin-top:45px;	
}






.mobile-header::after,.mobile-project::after,.mob-proj-descr::after,.what-platforms::after{
	content:'';
	display:block;
	clear:both;
}