.startup-header{
	background:url(../img/startup-header.jpg) no-repeat 50% 80px;
}
.startup-header h1{
    font-size:72px;
    text-align:center;
	color: white;
	font-family: Roboto;
	font-size: 72px;
	font-weight: 500;
	padding-top:200px;
	margin-top:0;
}
.startup-header h2{
	text-align:center;
	color: white;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
}
.startup-btn-group{
	margin:40px 0 0 0;
	text-align:center;
}
.startup-btn-group a{
	display: inline-block;
    padding: 17px 46px 15px 41px;
    border: 3px solid #ff7e00;
    color: #ff7e00;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s all;
}
.startup-btn-group a:hover{
	color:#fff;
    border: 3px solid #fff;
}
.startup-design-blocks[data-columns]::before {
	content: '3 .column.size-1of3';
}
.startup-design-blocks .column.size-1of3:first-child{
	margin-left:0;
}
.startup-design-blocks .column.size-1of3{
	width: 31.333%;
    margin-left: 2%;
}
.startup-design-blocks{
	margin-top:55px;
}
.startup-design-block{
	text-align:center;
	color: white;
	padding:25px 46px 32px 23px;
	background: url(../img/design-bg.png) repeat 0 0;
	border:2px solid #6c7783;
	color: white;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
}
.startup-design-block p{
	padding-top:25px;
	color: white;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
}
.startup-design-block a{
	color: white;
	font-family: Roboto;
	font-size: 17px;	
}
.startup-design-block a:hover{
	text-decoration:underline;
}
.startup-design-block h3{
	font-family: Roboto;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	margin:0 auto;
	padding-bottom:15px;
	border-bottom:1px solid #5d636a;
	width:284px;
}
.startup-design-block h3::after{
	content:'';
	width:20px;
	height:13px;
	background:url(../img/list-startup-ul.png) no-repeat 0 0;
	position:relative;
	left:18px;
	top:0;
	display:inline-block;
}
.startup-design-block ul{
	list-style:none;
	padding-left:0;
	padding-top: 15px;
}
.startup-design-block ul li a{
	color: white;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
}
.dev-team-wrapper{
	padding:65px 0 80px 0;
}
.dev-team h2{
	text-align:center;
	color: #182939;
	font-family: Roboto;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 100;
	margin:0 0 0 0;
}
.dev-team h2 > span:not(.span-vs){
	font-weight: 400;
}
.dev-team h2 .span-vs{
	background-color: #ff7e00;
	color: white;
	font-family: "Droid Serif";
	font-size: 32px;
	width:66px;
	text-align:center;
	font-style: italic;
	display:inline-block;
	padding:16px 0 15px 0;
	border-radius:50%;
	vertical-align: 27%;
	margin:0 19px 0 34px;
}
.dev-team h3{
	color: #182939;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	text-align:center;
	margin:60px 0 0 0;
}
.startup-markets-overview{
	margin:50px 0 0 0;
}
.startup-markets-overview h3{
	color: #182939;
	font-family: Roboto;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	text-align:center;
	margin:0 0 0 0;
}
.dev-teams-compare{
	margin-top:40px;
}
.dev-teams-compare > div{
    position:relative;
}
.teams-compare-columns{
	text-align:center;
}

.teams-compare-columns h2.compare-header{
	color: #6b7681;
	font-family: Roboto;
	font-size: 22px;
	font-weight:600;
	margin:0 0 35px 0;
	color:#182939;
	text-align:center;
	text-transform: none;
}
.teams-compare-columns h2 span{
	font-size:17.1px;
	font-weight:normal;
	display:block;
	text-align:center;
	margin-top:4px;
	color:#182939;
	text-transform: lowercase;
}
.compare-chart1{
	position:relative;
	left:-15px;
}
.compare-chart2{
	position:relative;
	left:-18px;
	margin-top:16px;
}
.teams-compare-iteora:first-child .teams-compare-top{
	border-right:1px solid #c3c8cf;
}
.teams-compare-top{
	position:relative;
}
.teams-compare-iteora .teams-compare-top:first-child::before{
	content:'';
	display:inline-block;
	width:43px;
	height:40px;
	background: url(../img/team-compare-sign.png) no-repeat 50% 0;	
    position: absolute;
 	right: -4%;
    bottom: -40px;
}
.teams-compare-content{
	margin:116px 0 0 0;
	padding-right: 5%;
}
.teams-compare-content-header{
	text-align:center;
	padding:11px 0 13px 0;
}
.teams-compare-content-header-iteora{
	background: #ff7e00;
}
.teams-compare-content-header-inhouse{
	background: #aab6c2;
}
.teams-compare-content .teams-compare-content-header h2{
	margin:0 0 0 0;
	font-size: 36px;
	color:#fff;
}
.teams-compare-content-blocks > div{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.teams-compare-content-block{
	padding:86px 0 0 0;
	text-align:center;
	margin-top:31px;
}
.teams-compare-content-block h3{
	margin-bottom:8px !important;
	color:#ff7e00 !important;
	font-size:19px !important;
}
.teams-compare-content-block h4{
	color: #374653;
	font-family: Roboto;
	font-size: 16px;
	margin:0 0 0 0;
	font-weight:normal;
	line-height: 22px;
}
.teams-compare-content-block-header{
	margin-top:7px;
	text-align:center;
}
.teams-compare-content-block-header h4{
	color: #6b7681;
	font-style: italic;	
	font-family: Roboto;
	font-size: 16px;
	margin:0 0 0 0;
	font-weight:normal;
}
.compare-plus{
	background:url(../img/compare-plus.png) no-repeat 50% 0;
}
.compare-minus{
	background:url(../img/compare-minus.png) no-repeat 50% 0;
}




.startup-design-blocks::after,.dev-teams-compare::after,.teams-compare-top::after{
	content:'';
	display:block;
	clear:both;
}