.wrapper .web-back{
	background: url(../img/web-back.jpg) no-repeat 50% 80px;
}
.web-header{
	padding-top:50px;
}

.web-header > div{
	width:50%;
	float:left;
	min-height:1px;
}
.web-header-left img{
	margin:0 auto;
	width:auto;
	height:auto;
	max-width:500px;
	max-height:400px;
}
.web-header-right{
    text-align:left;
}
.web-header-right h1 {
	color: white;
	font-family: Roboto;
	font-size: 65px;
	font-weight: 400;
	margin: 0 0 0 0;
}
.web-header{
	outline:none;
}
.web-header-right h5 {
    color: white;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    width: 90%;
    margin: 23px 0 0 0;
}
.web-header-right a{
    display: inline-block;
    padding: 17px 46px 15px 41px;
    border: 3px solid #ff7e00;
    color: #ff7e00;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s all;
    margin-top: 70px;
}
.web-header-right a:hover{
	color:#fff;
	border-color:#fff;
}
.web-tech{
	padding-bottom:84px;
}
.how-we-work-wrapper{
	background: url(../img/how-we-work.jpg) no-repeat 50% 0;
	padding:43px 0 75px 0;
}
.how-we-work h2{
	color: white;
	font-family: Roboto;
	font-size: 40px;
	font-weight: 400;
	text-align:center;
}
.how-we-work-blocks{
	width:75%;
	margin:28px auto 0 auto;
	padding:0 0 44px 0;
}
.how-we-work-block{
	text-align:center;
	padding-top:100px;
	cursor:pointer;
	position:relative;
}
.how-hovered::after{
	content:'';
	display:block;
	border-left:22px solid transparent;
	border-right:22px solid transparent;
	border-bottom:22px solid #fff;
    position: absolute;
    bottom: -44px;
    margin-left: 38%;
}
.how-clicked::after{
	content:'';
	display:block;
	border-left:22px solid transparent;
	border-right:22px solid transparent;
	border-bottom:22px solid #fff;
    position: absolute;
    bottom: -44px;
    margin-left: 38%;
}
.build-project{
    background: url(../img/build-project.png) no-repeat 50% 10px;
}
.build-project.how-hovered{
	background: url(../img/build-projecth.png) no-repeat 50% 10px !important;
}
.build-project.how-clicked{
	background: url(../img/build-projecth.png) no-repeat 50% 10px !important;	
}
.build-team{
    background: url(../img/build-team.png) no-repeat 50% 0;	
}
.build-team.how-hovered{
	background: url(../img/build-teamh.png) no-repeat 50% 0 !important;
}
.build-team.how-clicked{
	background: url(../img/build-teamh.png) no-repeat 50% 0 !important;
}
.how-we-work-block h4{
	color: #fff;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	text-align:center;
	margin:0 0 0 0;
}
.how-hovered h4{
	color: #ff7e00 !important;
}
.how-clicked h4{
	color: #ff7e00 !important;
}
.how-we-works-tab{
	display:none;
}
.how-we-works-tab:first-child{
	display:block;
}
.build-team-punkt{
	float:left;
	width:20%;
	text-align:center;
}
.build-team-punkt h3{
	color: #ff7e00;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin:31px 0 0 0;
}
.build-team-punkt p{
	color: #415c76;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	margin:12px auto 0 auto;
    width: 85%;
}
.build-team-punkt-top{
	width:121px;
	height:121px;
	margin:0 auto;
	text-align:center;
	border:6px solid #96a5b2;
	border-radius:50%;
	position:relative;
}
.build-team-punkt-top::after{
	content:'';
	display:block;
	height:17px;
	background:#e8ebed url(../img/build-teams-after.jpg) no-repeat 0 0;
    position: absolute;
    top: 45%;
    right: -120px;
    width: 120px;
}
.build-team-punkt:last-child .build-team-punkt-top::after{
	content:'';
	display:none;
}
.build-team-punkt-top span{
	color: #96a5b2;
	font-family: Roboto;
	font-size: 44px;
	font-weight: 700;
	margin:25px 0 0 0;
	display:inline-block;
}
.build-team-punkts{
	padding:75px 0 0 0;
}
.web-our-team .about-team-wrapper{
	background: #fff;
}




.web-header::after,.how-we-work-blocks::after,.build-team-punkts::after{
	content:'';
	display:block;
	clear:both;
}